<?xml version="1.0"?>
<!--

    Copyright © 2013-2017, The SeedStack authors <http://seedstack.org>

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

-->
<included>
    <appender name="STDOUT-COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5level) %yellow(%d{ISO8601}) %magenta(%thread) %cyan(%logger{15}) - %msg%n%red(%rEx)
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %d{ISO8601} %thread %logger{15} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <!-- Limits on loggers too verbose in ERROR level (sadly)-->
    <logger name="org.reflections" level="OFF"/>

    <!-- Limits on loggers too verbose in INFO level -->
    <logger name="io.nuun" level="WARN"/>
    <logger name="com.sun.jersey.guice.spi.container.GuiceComponentProviderFactory" level="WARN"/>
    <logger name="com.sun.jersey.server.impl.application.WebApplicationImpl" level="WARN"/>
    <logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>
    <logger name="org.apache.shiro.guice.web.ShiroWebModule" level="WARN"/>

    <!-- Limits on loggers too verbose in DEBUG level -->
    <logger name="com.google.inject.internal.util.Stopwatch" level="INFO"/>
    <logger name="com.google.inject.internal.BytecodeGen" level="INFO"/>
    <logger name="org.apache.commons.beanutils.converters" level="INFO"/>
    <logger name="org.apache.commons.beanutils.locale.converters" level="INFO"/>
    <logger name="javax.activation" level="INFO"/>
    <logger name="com.sun.jersey.core.spi.component.ProviderServices" level="INFO"/>
    <logger name="com.sun.jersey.spi.service.ServiceFinder" level="INFO"/>
    <logger name="com.sun.jersey.server.impl.cdi.CDIComponentProviderFactoryInitializer" level="INFO"/>
    <logger name="com.sun.jersey.server.impl.ejb.EJBComponentProviderFactoryInitilizer" level="INFO"/>
    <logger name="com.sun.jersey.server.impl.managedbeans.ManagedBeanComponentProviderFactoryInitilizer" level="INFO"/>
    <logger name="com.sun.xml.internal.bind.v2.runtime.reflect.opt" level="INFO"/>

    <!-- Tomcat loggers should be at least INFO to prevent ClassCircularityError -->
    <logger name="org.apache.catalina" level="INFO"/>
    <logger name="org.apache.juli" level="INFO"/>

    <!-- Improve performance of JUL through bridge in case of log level change -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
</included>